export(add_leading_zeroes)
export(binary_image_write)
export(build_raster_header)
export(create_blank_raster)
export(fix_extent)
export(focal_hpc)
export(getValuesBlock_enhanced)
export(remove_file_extension)
export(sfQuickInit)
export(sfQuickStop)
export(spatial_sync_raster)
export(spatial_sync_vector)
export(subset_raster_by_names)
